.assessment{
  max-width: 92rem;
}

@media screen and (min-width: 720px) {
  .assessments{
    grid-template-columns: 1fr 1fr;
  }

  .assessment{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 92rem; 
  }

}