.navbar{
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; 
  border-bottom: solid .1rem rgb(150,150,150);
}

ul{
  display: flex;
}

li{
  list-style: none;
  padding: 0 1rem;
  color: rgb(250,250,250);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}


