*{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body{
  background: rgb(20,20,20);
  color: rgb(150,150,150);
  font-size: 62.5%;
}

@media screen and (min-width: 720px) {
  .about{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    align-items:center;
    justify-content: center;
    
  }

  .header-container img{
    width: 100%;
  }

}